<h1>Edit Roaster</h1>

<form action="/roasters/<%= @roaster.id %>" method="post">

  <label for="name-input">Name</label>
  <input value="<%= @roaster.name %>" type="text" name="name" id="name-input">
  <br>

  <label for="location-input">Location</label>
  <input value="<%= @roaster.location %>" type="text" name="location" id="location-input">
  <br>

  <label for="image-link">Image URL</label>
  <textarea rows="1" cols="60" type="text" name="image" id="image-link"><%= @roaster.image %></textarea>
  <br>

  <label for="blurb-sml-input">Summary Blurb</label>
  <textarea rows="6" cols="50" type="text" name="blurb_sml" id="blurb-sml-input"><%= @roaster.blurb_sml %></textarea>
  <br>

  <label for="blurb-lrg-input">Full Description</label>
  <textarea rows="10" cols="100" type="text" name="blurb_lrg" id="blurb-lrg-input"><%= @roaster.blurb_lrg %></textarea>
  <br>
  <hr>

  <input type="submit" value="Update">

</form>
