<h1>Edit Roaster</h1>

<form action="/roasters/<%= @roaster.id %>" method="post">

  <label for="name-input">Name</label>
  <input value="<%= @roaster.name %>" type="text" name="name" id="name-input">

  <label for="location-input">Location</label>
  <input value="<%= @roaster.location %>" type="text" name="location" id="location-input">

  <label for="blurb-sml-input">Summary</label>
  <input value="<%= @roaster.blurb_sml %>" type="text" name="blurb_sml" id="blurb-sml-input">

  <label for="blurb-lrg-input">Description</label>
  <input value="<%= @roaster.blurb_lrg %>" type="text" name="blurb_lrg" id="blurb-lrg-input">

  <input type="submit" value="Update">

</form>
