
<nav>

  <div class="box e">
    <h2><%=@title%></h2>

    <% if @show_add_new_coffee_button == true %>
      <form  action="/roasters/new" method="get">
        <input type="submit" name="" value="Add New Roaster">
      </form>
    <% end %>

  <form action="/roasters/filter-name" method="get">
    <label for="filter_roaster">Filter List by Roaster:</label>
    <select name="roaster_id" id="filter_roaster">
      <% for roaster in @roasters %>
        <option value="<%= roaster.id %>"><%= roaster.name %></option>
      <% end %>
    </select>
      <input type="submit" value="Go">
  </form>

</nav>

<h1>Meet the Roasters</h1>

<% for roaster in @roasters %>

  <h4><a href="/roasters/<%= roaster.id %>"><%= roaster.name %></a></h4>
  <a href="/roasters/<%= roaster.id %>"><img id="roaster_img" src="<%= roaster.image %>"></a>
  <h5><%= roaster.location %></h5>
  <p><%= roaster.blurb_sml %></p>
  <form action="/roasters/<%= roaster.id %>/delete" method="post">
    <input type="submit" value="Delete Roaster">
  </form>
  <hr>

<% end %>
