
<nav>
  <a href="/roasters/new"> Add New Roaster</a>

  <form action="/roasters/filter" method="get">

    <label for="filter_roaster">Filter by Roaster:</label>
    <select name="roaster_id" id="filter_roaster">
      <% for roaster in @roasters %>
        <option value="<%= roaster.id %>"><%= roaster.name %></option>
      <% end %>
    </select>
      <input type="submit" value="Filter">
  </form>

</nav>

<h1>Meet the Roasters</h1>

<% for roaster in @roasters %>

  <h4><a href="/roasters/<%= roaster.id %>"><%= roaster.name %></a></h4>
  <a href="/roasters/<%= roaster.id %>"><img id="roaster_img" src="<%= roaster.image %>"></a>
  <h5><%= roaster.location %></h5>
  <p><%= roaster.blurb_sml %></p>
  <form action="/roasters/<%= roaster.id %>/delete" method="post">
    <input type="submit" value="Delete Roaster">
  </form>
  <hr>

<% end %>
