<div class="left">
  <a href="/roasters/<%= @roaster.id %>"><img id="roaster_img" src="<%= @roaster.image %>"></a>
  <form action="/roasters/<%= @roaster.id %>/edit" method="get">
    <input type="submit" value="Edit Roaster">
  </form>
  <form action="/roasters/<%= @roaster.id %>/delete" method="post">
    <input type="submit" value="Delete Roaster">
  </form>
  <form action="/roasters/<%= @roaster.id %>" method="get">
    <input type="submit" value="More Info">
  </form>
</div>

<div class="right">
  <h3><a href="/roasters/<%= @roaster.id %>"><%= @roaster.name %></a></h3>
  <h4><%= @roaster.location %></h4>
  <p><%= @roaster.blurb_lrg %></p>
</div>
