<nav>

  <h2><%=@title%></h2>

  <% if @show_add_new_coffee_button == true %>
    <a href="/beans/new"> Add New Coffee</a>
  <% end %>

  <form action="/beans/filter-roaster" method="get">
    <label for="filter_roaster">Filter List by Roaster:</label>
    <select name="roaster_id" id="filter_roaster">
      <% for roaster in @roasters %>
        <option value="<%= roaster.id %>"><%= roaster.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Go">
  </form>

  <form action="/beans/filter-profile" method="get">
    <label for="filter_profile">Filter List by Roast Profile:</label>
    <select name="roast_profile" id="filter_profile">
        <option value="Espresso">Espresso</option>
        <option value="Filter">Filter</option>
        <option value="Decaf">Decaf</option>
        <option value="Omni">Omni</option>
    </select>
    <input type="submit" value="Go">
  </form>

</nav>

<% for coffee in @coffees %>

  <a href="/beans/<%= coffee.id %>"><img id="coffee-img" src= <%= coffee.image %> > </a>
  <h4><%= coffee.name %></h4>
  <% if coffee.profile == "Omni" %>
    <p>Roasted for both Espresso and Filter</p>
  <% else %>
    <p>Roasted for <%= coffee.profile %></p>
  <% end %>
  <a href="/beans/<%= coffee.id %>/edit">Edit Coffee</a>
  <form  action="/beans/<%= coffee.id %>/delete" method="post">
    <input type="submit" name="" value="Delete Coffee">
  </form>
  <hr>

<% end %>
