<nav>
  <%
  # allows filter coffee by roaster to also use index.erb
  if @roaster == nil %>
    <h2>All The Beans</h2>
    <a href="/beans/new"> Add New Coffee</a>
    <% else %>
    <h2>Beans from <%= @roaster.name %></h2>
  <% end %>

  <form action="/beans/filter" method="get">
    <label for="filter_roaster">Filter List by Roaster:</label>
    <select name="roaster_id" id="filter_roaster">
      <% for roaster in @roasters %>
        <option value="<%= roaster.id %>"><%= roaster.name %></option>
      <% end %>
    </select>
      <input type="submit" value="Go">
  </form>

</nav>


<% for coffee in @coffees %>

  <a href="/beans/<%= coffee.id %>"><img id="coffee-img" src= <%= coffee.image %> > </a>
  <h4><%= coffee.name %></h4>
  <% if coffee.profile == "Omni" %>
    <p>Roasted for both Espresso and Filter</p>
  <% else %>
    <p>Roasted for <%= coffee.profile %></p>
  <% end %>
  <a href="/beans/<%= coffee.id %>/edit">Edit Coffee</a>
  <form  action="/beans/<%= coffee.id %>/delete" method="post">
    <input type="submit" name="" value="Delete Coffee">
  </form>
  <hr>

<% end %>
