<h1><%= @coffee.name %></h1>

<p>Roasted by <%= @coffee.roaster.name %> in <%= @coffee.roaster.location %></p>
<p>Origin: <%= @coffee.origin %></p>
<p>Process: <%= @coffee.process %></p>
<p>Tastes like: <%= @coffee.primary_taste %></p>
